//variables
$primary: #007BFF;

// google font
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.category-title{
    display: inline-block;
    font-size: 18px !important;
    font-weight: 600;
    border-bottom: 3px solid $primary;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

section{
    .section-header{
        border-bottom: 4px solid $primary;
        display: inline-block;
    }
}

.search-bar{
    position: relative;
    width: 50%;
    .search-icon{
        position: absolute;
        left: 1rem;
        font-size: 1.2rem;
    }
    input{
        border: 1px solid #e5e8eb;
        border-radius: 10px;
        padding-left: 3rem;
        height: 62px;
        font-size: 16px;

        &::placeholder{
            font-size: 16px;
        }
    }

    input:focus,input:hover{  
        box-shadow: 0 3px 6px 0 rgba(0,0,0,.1), 0 1px 3px 0 rgba(0,0,0,.08);
        border-color: rgba(223,225,229,0);
    }

    button{
        border-radius: 1.25rem;
    }
}

.leader{
    width: 325px;
    height: 150px;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.15), 0 1px 3px 0 rgba(0,0,0,.08);
    border-radius: 10px;

    img{
        width: 100%;
        filter: grayscale(0.75);
        vertical-align: middle;
    }
    h5{
        color: #3498db;
        padding: 10px 0px 5px;
        font-size: 18px;
        line-height: 0.9;
    }
    p{
        font-size: 14px !important;
        line-height: 1.2;
    }
}

.leader:hover img{
    filter: none;
}

.employee{
    width: 200px;
    height: 225px;
    line-height: 1;
    transition: 300ms ease-in-out;

    img{
        height: 130px;
        width: 130px;
        filter: grayscale(0.75);
    }
    h5{
        color: #3498db;
        padding: 10px 5px 5px;
        font-size: 18px;
        line-height: 0.9;
    }
    p{
        font-size: 14px !important;
        line-height: 1.2;
    }
}

.employee:hover{
    background: #fafafa;
    box-shadow: 0 40px 100px -20px rgba(0,0,10,0.2), 0 -15px 70px -30px rgba(0,0,0,0.4);
    border-radius: 10px;
}

.employee:hover img{
    filter: none;
}

.employee:hover div.employee-info{
    visibility: visible !important;
}

@media only screen and (min-width:320px) and (max-width: 480px){
    .search-bar{
        width: 100%;
    }
    .employees{
        margin-top: 0.5rem !important;
    }
    .employee{
        width: 175px;
        line-height: 1;
        margin-bottom: 0px !important;
    }
    .employee h5{
        padding: 0px;
    }
    .leadership{
        justify-content: center;
    }

}