//variables
$primary: #007BFF;

// google font
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);


body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #FFFFFF;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.category-title{
    display: inline-block;
    font-size: 15px !important;
    font-weight: 600;
    border-bottom: 1px solid $primary;
}

section{
    .section-header{
        border-bottom: 1px solid #444;
        display: inline-block;
    }
}

.search-bar{
    position: relative;
    .search-icon{
        position: absolute;
        left: 1rem;
        font-size: 1.2rem;
    }
    input{
        border-radius: 24px;
        padding-left: 3rem;
        font-size: 1.25rem;
    }
    input:focus{
        box-shadow: none;
        border: 1px solid $primary !important;
    }

    button{
        border-radius: 1.25rem;
    }
}

.leader{
    width: 325px;
    height: 125px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;

    img{
        width: 100%;
        filter: grayscale(1);
        vertical-align: middle;
    }
    h5{
        color: #3498db;
        padding: 10px 0px 5px;
        font-size: 18px;
    }
    p{
        font-size: 14px !important;
    }
}

.leader:hover img{
    filter: none;
}

.employee{
    width: 200px;
    height: 225px;
    line-height: 1;
    transition: 100ms ease-out;

    img{
        height: 130px;
        width: 130px;
        filter: grayscale(1);
    }
    h5{
        color: #3498db;
        padding: 10px 5px 5px;
        font-size: 18px;
    }
    p{
        font-size: 14px !important;
    }
}

.employee:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

.employee:hover img{
    filter: none;
}

.employee:hover div.employee-info{
    visibility: visible !important;
}

@media only screen and (min-width:320px) and (max-width: 480px){
    .employees{
        margin-top: 0.5rem !important;
    }
    .employee{
        width: 175px;
        line-height: 1;
        margin-bottom: 0px !important;
    }
    .employee h5{
        padding: 0px;
    }
    .leader{
        margin-left: 2vw;
    }
}
